@model svg.ViewModels.SvgObjectView

<div class="thumbnail">
    @*<img src="@Url.Action("Thumbnail", new { id = Model.Id })" alt="thumbnail" />*@
    <div style="width: 100px; height:100px;">@Html.Raw(Model.Value)</div>
    <div class="caption" style="word-break:break-word">
        <h3 style="text-align:center;">@Model.Name</h3>
        <p style="text-align:center;">
            <a class="btn btn-default" href="@Url.Action("FullImage", new { id = Model.Id })" target="_blank">Full Image</a>
            @*<a class="btn btn-default" href="@Url.Action("Delete", new { id = Model.Id })">Delete</a>*@
            @Ajax.ActionLink("Delete", "Delete", new { id = Model.Id }, new AjaxOptions()
       {
           HttpMethod = "POST",
           OnComplete = "onDeleteCompleted"
       },
           new { @class = "btn btn-default" })
        </p>
    </div>
</div>
