@model svg.ViewModels.SvgObjectsListView
@{
    ViewBag.Title = "Svg-Objects";
}

@using (Html.BeginForm("Index", "Library", FormMethod.Get))
{
    
    <div class="row margin-top-25">
        <div class="col-md-11">
            <div class="input-group">
                <input type="text" name="q" id="q" value="@Model.Keyword" class="form-control" />
                <span class="input-group-btn">
                    <a href="@Url.Action("Index", "Library")" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                </span>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
}

<div class="row margin-top-25">
    <div class="col-md-1 col-md-offset-11">
        <a href="@Url.Action("Add")" class="btn btn-primary btn-block">Add</a>
    </div>
</div>
<hr />
<div class="row">
    @foreach (var obj in Model.Objects)
    {

        <div class="col-md-3" id="@obj.Id">
            @Html.Partial("_ObjectThumbnail", obj)
        </div>

    }
</div>

<input type="hidden" id="pages_count" value="@Model.PagesCount" />
<input type="hidden" id="current_page" value="@Model.CurrentPage" />
<input type="hidden" id="q" value="@Model.Keyword" />

<div style="text-align:center;">
    <ul class="pagination" id="pagination"></ul>
</div>


@section unobtrusive
{
    @Scripts.Render("~/bundles/unobtrusive")
}



@section Scripts
{
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <script>

        function onDeleteCompleted(response) {
            if (response.responseText == '')
                alert('Delete error');
            else {
                $('#' + response.responseText).fadeOut('slow');
            }
        }

        $('#pagination').pagination({
            cssStyle: 'pagination',
            pages: $('#pages_count').val(),
            currentPage: $('#current_page').val(),
            prevText: '<span aria-hidden="true">&laquo;</span>',
            nextText: '<span aria-hidden="true">&raquo;</span>',
            onPageClick: function (page) {
                if ($('#q').val() == '')
                    window.location = '@Url.Action("Index")?page=' + page;
                else
                    window.location = '@Url.Action("Index", new { q = Model.Keyword })&page=' + page;
            }
        });

    </script>
}